[com_0]
type=layer
x=0
y=0
width=192
height=262
scroll=262

[com_1]
layer=com_0
type=rect
x=3
y=0
width=186
height=3
trans=245
fill=yes
colour=0x908335

[com_2]
layer=com_0
type=rect
x=3
y=259
width=186
height=3
trans=245
fill=yes
colour=0x908335

[com_3]
layer=com_0
type=rect
x=0
y=5
width=3
height=250
trans=245
fill=yes
colour=0x908335

[com_4]
layer=com_0
type=rect
x=189
y=5
width=3
height=250
trans=245
fill=yes
colour=0x908335

[com_5]
layer=com_0
type=rect
x=3
y=3
width=186
height=256
trans=235
colour=0x908335

[com_6]
layer=com_0
type=rect
x=4
y=4
width=184
height=254
trans=235
colour=0x908335

[com_7]
layer=com_0
type=rect
x=5
y=5
width=182
height=252
trans=235
colour=0x908335

[com_8]
layer=com_0
type=rect
x=6
y=6
width=180
height=250
trans=225
colour=0x908335

[com_9]
layer=com_0
type=rect
x=7
y=7
width=178
height=248
trans=225
colour=0x908335

[com_10]
layer=com_0
type=rect
x=8
y=8
width=176
height=246
trans=225
colour=0x908335

[com_11]
layer=com_0
type=rect
x=9
y=9
width=174
height=244
trans=215
colour=0x908335

[com_12]
layer=com_0
type=rect
x=10
y=10
width=172
height=242
trans=215
colour=0x908335

[com_13]
layer=com_0
type=rect
x=11
y=11
width=170
height=240
trans=215
colour=0x908335

[com_14]
layer=com_0
type=rect
x=12
y=12
width=168
height=238
trans=205
colour=0x908335

[com_15]
layer=com_0
type=rect
x=13
y=13
width=166
height=236
trans=205
colour=0x908335

[com_16]
layer=com_0
type=rect
x=14
y=14
width=164
height=234
trans=205
colour=0x908335

[com_17]
layer=com_0
type=rect
x=15
y=15
width=162
height=232
trans=200
fill=yes
colour=0x908335

[com_18]
type=layer
x=16
y=8
width=162
height=250
scroll=250
