// r481 source interface group 110 reconstructed as r254 IF1.
// Source components 0-92 map to the reserved local block 10280-10372.
// This is the final frozen offer setup/state variant; transaction wiring remains out of scope for this Phase 2 milestone.

[com_0]
type=rect
x=17
y=25
width=488
height=305
trans=230
fill=yes
colour=0x2E2B23

[com_1]
type=graphic
x=14
y=25
width=485
height=300
graphic=r481_ge_component_1,0

[com_2]
type=graphic
x=13
y=53
width=7
height=241
graphic=r481_ge_component_2,0

[com_3]
type=graphic
x=13
y=20
width=32
height=32
graphic=r481_ge_sprite_958,0

[com_4]
type=graphic
x=468
y=51
width=32
height=243
graphic=r481_ge_component_4,0

[com_5]
type=graphic
x=44
y=20
width=424
height=7
graphic=r481_ge_component_5,0

[com_6]
type=graphic
x=45
y=294
width=423
height=32
graphic=r481_ge_component_6,0

[com_7]
type=graphic
x=13
y=294
width=32
height=32
graphic=r481_ge_sprite_960,0

[com_8]
type=graphic
x=468
y=20
width=32
height=32
graphic=r481_ge_sprite_959,0

[com_9]
type=graphic
x=468
y=294
width=32
height=32
graphic=r481_ge_sprite_961,0

[com_10]
type=graphic
x=24
y=49
width=465
height=6
graphic=r481_ge_sprite_210010,0

[com_11]
type=graphic
x=13
y=37
width=32
height=32
graphic=r481_ge_sprite_200011,0

[com_12]
type=graphic
x=468
y=37
width=32
height=32
graphic=r481_ge_sprite_200012,0

[com_13]
buttontype=close
type=graphic
x=473
y=30
width=16
height=16
graphic=r481_ge_sprite_831,0
activegraphic=r481_ge_sprite_831,0

[com_14]
type=text
x=21
y=30
width=471
height=16
center=yes
font=b12
shadowed=yes
text=Grand Exchange
colour=0xCC9800

[com_15]
type=graphic
x=25
y=26
width=25
height=25
graphic=r481_ge_sprite_211164,0

[com_16]
buttontype=normal
option=Back
type=graphic
x=25
y=276
width=35
height=35
graphic=r481_ge_sprite_200127,0
activegraphic=r481_ge_sprite_200127,0

[com_17]
type=graphic
x=19
y=249
width=474
height=32
graphic=r481_ge_sprite_200128,0

[com_18]
type=layer
x=43
y=60
width=426
height=90
scroll=90

[com_19]
type=graphic
x=187
y=61
width=32
height=87
graphic=r481_ge_sprite_200130,0

[com_20]
type=layer
x=43
y=152
width=426
height=84
scroll=84

[com_21]
type=graphic
x=244
y=153
width=32
height=81
graphic=r481_ge_sprite_200132,0

[com_22]
type=text
x=43
y=66
width=159
height=16
center=yes
font=b12
shadowed=yes
text=Buy Offer
colour=0xCC9800

[com_23]
type=graphic
x=175
y=67
width=16
height=14
graphic=r481_ge_sprite_200134,0

[com_24]
type=graphic
x=44
y=68
width=157
height=32
graphic=r481_ge_sprite_200135,0

[com_25]
type=graphic
x=102
y=92
width=40
height=36
graphic=r481_ge_sprite_200136,0

[com_26]
type=graphic
x=102
y=132
width=16
height=14
graphic=r481_ge_sprite_200139,0

[com_27]
type=text
x=115
y=131
width=29
height=16
center=yes
font=p11
shadowed=yes
text=N/A
colour=0x999900

[com_28]
type=text
x=210
y=66
width=250
height=16
font=b12
shadowed=yes
text=Choose an item to exchange
colour=0xCC9900

[com_29]
type=text
x=47
y=157
width=208
height=16
center=yes
font=b12
shadowed=yes
text=Quantity:
colour=0xCC9800

[com_30]
type=graphic
x=75
y=178
width=20
height=20
graphic=r481_ge_sprite_200147,0

[com_31]
type=graphic
x=95
y=178
width=113
height=20
graphic=r481_ge_sprite_200148,0

[com_32]
type=graphic
x=208
y=178
width=20
height=20
graphic=r481_ge_sprite_200149,0

[com_33]
type=text
x=83
y=180
width=136
height=16
center=yes
font=b12
shadowed=yes
text=1
colour=0xFFA861

[com_34]
type=text
x=262
y=157
width=202
height=16
center=yes
font=b12
shadowed=yes
text=Price per item:
colour=0xCC9800

[com_35]
type=graphic
x=289
y=178
width=20
height=20
graphic=r481_ge_sprite_200147,0

[com_36]
type=graphic
x=309
y=178
width=108
height=20
graphic=r481_ge_sprite_200153,0

[com_37]
type=graphic
x=417
y=178
width=20
height=20
graphic=r481_ge_sprite_200149,0

[com_38]
type=text
x=295
y=180
width=136
height=16
center=yes
font=b12
shadowed=yes
text=1 gp
colour=0xFFA861

[com_39]
buttontype=normal
option=Decrease Quantity
type=graphic
x=55
y=181
width=16
height=14
graphic=r481_ge_sprite_200158,0
activegraphic=r481_ge_sprite_200158,0

[com_40]
buttontype=normal
option=Increase Quantity
type=graphic
x=235
y=181
width=16
height=14
graphic=r481_ge_sprite_200160,0
activegraphic=r481_ge_sprite_200160,0

[com_41]
type=graphic
x=52
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_42]
buttontype=normal
option=Offer 1
type=text
x=52
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=1
colour=0xCC9800
activecolour=0xFFFFFF

[com_43]
type=graphic
x=93
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_44]
buttontype=normal
option=Offer 10
type=text
x=93
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=10
colour=0xFF9800
activecolour=0xFFFFFF

[com_45]
type=graphic
x=134
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_46]
buttontype=normal
option=Offer 100
type=text
x=134
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=100
colour=0xFF9800
activecolour=0xFFFFFF

[com_47]
type=graphic
x=175
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_48]
buttontype=normal
option=Offer 500
type=text
x=175
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=500
colour=0xFF9800
activecolour=0xFFFFFF

[com_49]
type=graphic
x=216
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_50]
buttontype=normal
option=Edit Quantity
type=text
x=216
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=...
colour=0xFF9800
activecolour=0xFFFFFF

[com_51]
buttontype=normal
option=Decrease Price
type=graphic
x=269
y=181
width=16
height=14
graphic=r481_ge_sprite_200158,0
activegraphic=r481_ge_sprite_200158,0

[com_52]
buttontype=normal
option=Increase Price
type=graphic
x=444
y=181
width=16
height=14
graphic=r481_ge_sprite_200160,0
activegraphic=r481_ge_sprite_200160,0

[com_53]
type=graphic
x=266
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_54]
type=graphic
x=276
y=211
width=16
height=14
graphic=r481_ge_sprite_200143,0

[com_55]
buttontype=normal
option=Offer Minimum Price
type=text
x=266
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=
colour=0xFF9800
activecolour=0xFFFFFF

[com_56]
type=graphic
x=319
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_57]
type=graphic
x=328
y=211
width=16
height=14
graphic=r481_ge_sprite_200139,0

[com_58]
buttontype=normal
option=Offer Market Price
type=text
x=319
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=
colour=0xFF9800
activecolour=0xFFFFFF

[com_59]
type=graphic
x=372
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_60]
type=graphic
x=382
y=211
width=16
height=14
graphic=r481_ge_sprite_200144,0

[com_61]
buttontype=normal
option=Offer Maximum Price
type=text
x=372
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=
colour=0xFF9800
activecolour=0xFFFFFF

[com_62]
type=graphic
x=425
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_63]
buttontype=normal
option=Edit Price
type=text
x=425
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=...
colour=0xFF9800
activecolour=0xFFFFFF

[com_64]
type=graphic
x=186
y=239
width=20
height=20
graphic=r481_ge_sprite_200147,0

[com_65]
type=graphic
x=206
y=239
width=108
height=20
graphic=r481_ge_sprite_200153,0

[com_66]
type=graphic
x=314
y=239
width=20
height=20
graphic=r481_ge_sprite_200149,0

[com_67]
type=text
x=186
y=239
width=148
height=20
center=yes
font=b12
shadowed=yes
text=
colour=0xEBE573

[com_68]
type=layer
x=200
y=270
width=120
height=43
scroll=43

[com_69]
buttontype=normal
option=Confirm Offer
type=text
x=200
y=270
width=120
height=43
center=yes
font=b12
shadowed=yes
text=Confirm Offer
colour=0xCC9800
activecolour=0xFFFFFF

[com_70]
type=text
x=189
y=242
width=136
height=16
center=yes
font=b12
shadowed=yes
text=1 gp
colour=0xDBD884

[com_71]
type=graphic
x=105
y=97
width=16
height=14
graphic=r481_ge_sprite_200195,0

[com_72]
type=model
x=0
y=0
width=0
height=0
zoom=400

[com_73]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_74]
layer=com_73
type=rect
x=43
y=60
width=158
height=5
fill=yes
colour=0xFFCC33

[com_75]
layer=com_73
type=rect
x=43
y=60
width=5
height=94
fill=yes
colour=0xFFCC33

[com_76]
layer=com_73
type=rect
x=196
y=60
width=5
height=94
fill=yes
colour=0xFFCC33

[com_77]
layer=com_73
type=rect
x=43
y=149
width=158
height=5
fill=yes
colour=0xFFCC33

[com_78]
type=model
x=0
y=0
width=0
height=0
zoom=400

[com_79]
type=rect
x=174
y=90
width=317
height=83
trans=200
fill=yes
colour=0x000000

[com_80]
type=rect
x=176
y=92
width=305
height=71
fill=yes
colour=0x83765E

[com_81]
type=graphic
x=171
y=86
width=32
height=32
graphic=r481_ge_sprite_846,0

[com_82]
type=graphic
x=203
y=72
width=252
height=32
graphic=r481_ge_sprite_210828,0

[com_83]
type=graphic
x=455
y=86
width=32
height=32
graphic=r481_ge_sprite_847,0

[com_84]
type=graphic
x=157
y=118
width=32
height=32
graphic=r481_ge_sprite_210841,0

[com_85]
type=graphic
x=171
y=136
width=32
height=32
graphic=r481_ge_sprite_848,0

[com_86]
type=graphic
x=203
y=148
width=252
height=32
graphic=r481_ge_sprite_210828,0

[com_87]
type=graphic
x=455
y=136
width=32
height=32
graphic=r481_ge_sprite_849,0

[com_88]
type=graphic
x=467
y=110
width=32
height=32
graphic=r481_ge_sprite_210841,0

[com_89]
type=text
x=181
y=96
width=297
height=64
font=p12
shadowed=yes
text=Jetzt ist Ihr Angebot eingegangen! Sie können jederzeit darauf klicken, um sich die Einzelheiten anzuschauen. Unten wird der Fortschritt mit einem Balken angezeigt. 
colour=0xFFFFFF

[com_90]
buttontype=normal
option=Continue
type=graphic
x=462
y=143
width=16
height=16
graphic=r481_ge_sprite_1174,0
activegraphic=r481_ge_sprite_1174,0

[com_91]
type=model
x=0
y=0
width=0
height=0
zoom=400

[com_92]
buttontype=normal
option=Continue
type=text
x=365
y=143
width=106
height=16
font=p12
text=Click to continue
colour=0x0000FF
activecolour=0xFFFFFF
