[com_0]
type=rect
x=17
y=25
width=488
height=305
trans=230
fill=yes
colour=0x2E2B23

[com_1]
type=graphic
x=14
y=25
width=485
height=300
graphic=r481_ge_component_1,0

[com_2]
type=graphic
x=13
y=53
width=7
height=241
graphic=r481_ge_component_2,0

[com_3]
type=graphic
x=13
y=20
width=32
height=32
graphic=r481_ge_sprite_958,0

[com_4]
type=graphic
x=468
y=51
width=32
height=243
graphic=r481_ge_component_4,0

[com_5]
type=graphic
x=44
y=20
width=424
height=7
graphic=r481_ge_component_5,0

[com_6]
type=graphic
x=45
y=294
width=423
height=32
graphic=r481_ge_component_6,0

[com_7]
type=graphic
x=13
y=294
width=32
height=32
graphic=r481_ge_sprite_960,0

[com_8]
type=graphic
x=468
y=20
width=32
height=32
graphic=r481_ge_sprite_959,0

[com_9]
type=graphic
x=468
y=294
width=32
height=32
graphic=r481_ge_sprite_961,0

[com_10]
type=graphic
x=24
y=49
width=465
height=6
graphic=r481_ge_sprite_210010,0

[com_11]
type=graphic
x=13
y=37
width=32
height=32
graphic=r481_ge_sprite_200011,0

[com_12]
type=graphic
x=468
y=37
width=32
height=32
graphic=r481_ge_sprite_200012,0

[com_13]
buttontype=close
type=graphic
x=473
y=30
width=16
height=16
graphic=r481_ge_sprite_831,0
activegraphic=r481_ge_sprite_831,0

[com_14]
type=text
x=21
y=30
width=471
height=16
center=yes
font=b12
shadowed=yes
text=Grand Exchange
colour=0xCC9800

[com_15]
type=graphic
x=25
y=26
width=25
height=25
graphic=r481_ge_sprite_211164,0

[com_16]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_17]
layer=com_16
type=text
x=21
y=60
width=471
height=14
center=yes
font=p11
shadowed=yes
text=Shown below is a summary of all your current offers.
colour=0xCC9900

[com_18]
layer=com_16
type=layer
x=30
y=80
width=140
height=110
scroll=110

[com_19]
layer=com_16
type=layer
x=30
y=80
width=140
height=110
scroll=110

[com_20]
layer=com_19
type=graphic
x=0
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_21]
layer=com_19
type=graphic
x=14
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_22]
layer=com_19
type=graphic
x=47
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_23]
layer=com_19
type=graphic
x=14
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_24]
layer=com_19
type=graphic
x=63
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_25]
layer=com_19
type=graphic
x=77
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_26]
layer=com_19
type=graphic
x=110
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_27]
layer=com_19
type=graphic
x=77
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_28]
layer=com_19
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_211168,0

[com_29]
layer=com_19
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_211170,0

[com_30]
layer=com_19
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_31]
layer=com_19
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_32]
layer=com_16
type=layer
x=186
y=80
width=140
height=110
scroll=110

[com_33]
layer=com_16
type=layer
x=186
y=80
width=140
height=110
scroll=110

[com_34]
layer=com_33
type=graphic
x=0
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_35]
layer=com_33
type=graphic
x=14
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_36]
layer=com_33
type=graphic
x=47
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_37]
layer=com_33
type=graphic
x=14
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_38]
layer=com_33
type=graphic
x=63
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_39]
layer=com_33
type=graphic
x=77
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_40]
layer=com_33
type=graphic
x=110
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_41]
layer=com_33
type=graphic
x=77
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_42]
layer=com_33
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_211168,0

[com_43]
layer=com_33
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_211170,0

[com_44]
layer=com_33
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_45]
layer=com_33
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_46]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_47]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_48]
layer=com_47
type=graphic
x=0
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_49]
layer=com_47
type=graphic
x=14
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_50]
layer=com_47
type=graphic
x=47
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_51]
layer=com_47
type=graphic
x=14
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_52]
layer=com_47
type=graphic
x=63
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_53]
layer=com_47
type=graphic
x=77
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_54]
layer=com_47
type=graphic
x=110
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_55]
layer=com_47
type=graphic
x=77
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_56]
layer=com_47
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_211168,0

[com_57]
layer=com_47
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_211170,0

[com_58]
layer=com_47
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_59]
layer=com_47
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_60]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_61]
layer=com_60
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_62]
layer=com_60
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_63]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_64]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_65]
layer=com_64
type=graphic
x=0
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_66]
layer=com_64
type=graphic
x=14
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_67]
layer=com_64
type=graphic
x=47
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_68]
layer=com_64
type=graphic
x=14
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_69]
layer=com_64
type=graphic
x=63
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_70]
layer=com_64
type=graphic
x=77
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_71]
layer=com_64
type=graphic
x=110
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_72]
layer=com_64
type=graphic
x=77
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_73]
layer=com_64
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_211168,0

[com_74]
layer=com_64
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_211170,0

[com_75]
layer=com_64
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_76]
layer=com_64
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_77]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_78]
layer=com_77
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_79]
layer=com_77
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_80]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_81]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_82]
layer=com_81
type=graphic
x=0
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_83]
layer=com_81
type=graphic
x=14
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_84]
layer=com_81
type=graphic
x=47
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_85]
layer=com_81
type=graphic
x=14
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_86]
layer=com_81
type=graphic
x=63
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_87]
layer=com_81
type=graphic
x=77
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_88]
layer=com_81
type=graphic
x=110
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_89]
layer=com_81
type=graphic
x=77
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_90]
layer=com_81
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_211168,0

[com_91]
layer=com_81
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_211170,0

[com_92]
layer=com_81
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_93]
layer=com_81
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_94]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_95]
layer=com_94
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_96]
layer=com_94
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_97]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_98]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_99]
layer=com_98
type=graphic
x=0
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_100]
layer=com_98
type=graphic
x=14
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_101]
layer=com_98
type=graphic
x=47
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_102]
layer=com_98
type=graphic
x=14
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_103]
layer=com_98
type=graphic
x=63
y=43
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_104]
layer=com_98
type=graphic
x=77
y=27
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_105]
layer=com_98
type=graphic
x=110
y=44
width=32
height=45
graphic=r481_ge_sprite_210075,0

[com_106]
layer=com_98
type=graphic
x=77
y=71
width=47
height=32
graphic=r481_ge_sprite_210074,0

[com_107]
layer=com_98
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_211168,0

[com_108]
layer=com_98
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_211170,0

[com_109]
layer=com_98
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_110]
layer=com_98
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_111]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_112]
layer=com_111
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_113]
layer=com_111
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_114]
type=rect
x=111
y=227
width=317
height=83
trans=200
fill=yes
colour=0x000000

[com_115]
type=rect
x=113
y=229
width=305
height=71
fill=yes
colour=0x83765E

[com_116]
type=graphic
x=108
y=223
width=32
height=32
graphic=r481_ge_sprite_846,0

[com_117]
type=graphic
x=140
y=209
width=252
height=32
graphic=r481_ge_sprite_210828,0

[com_118]
type=graphic
x=392
y=223
width=32
height=32
graphic=r481_ge_sprite_847,0

[com_119]
type=graphic
x=94
y=255
width=32
height=32
graphic=r481_ge_sprite_210841,0

[com_120]
type=graphic
x=108
y=273
width=32
height=32
graphic=r481_ge_sprite_848,0

[com_121]
type=graphic
x=140
y=285
width=252
height=32
graphic=r481_ge_sprite_210828,0

[com_122]
type=graphic
x=392
y=273
width=32
height=32
graphic=r481_ge_sprite_849,0

[com_123]
type=graphic
x=404
y=247
width=32
height=32
graphic=r481_ge_sprite_210841,0

[com_124]
type=text
x=118
y=233
width=298
height=64
font=p12
shadowed=yes
text=Jetzt ist Ihr Angebot eingegangen! Sie können jederzeit darauf klicken, um sich die Einzelheiten anzuschauen. Unten wird der Fortschritt mit einem Balken angezeigt. 
colour=0xFFFFFF

[com_125]
buttontype=normal
option=Continue
type=graphic
x=399
y=280
width=16
height=16
graphic=r481_ge_sprite_1174,0
activegraphic=r481_ge_sprite_1174,0

[com_126]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_127]
layer=com_126
type=rect
x=26
y=76
width=148
height=5
fill=yes
colour=0xFFCC33

[com_128]
layer=com_126
type=rect
x=26
y=189
width=148
height=5
fill=yes
colour=0xFFCC33

[com_129]
layer=com_126
type=rect
x=26
y=76
width=5
height=115
fill=yes
colour=0xFFCC33

[com_130]
layer=com_126
type=rect
x=169
y=76
width=5
height=115
fill=yes
colour=0xFFCC33

[com_131]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_132]
layer=com_131
type=rect
x=38
y=118
width=59
height=5
fill=yes
colour=0xFFCC33

[com_133]
layer=com_131
type=rect
x=38
y=169
width=59
height=5
fill=yes
colour=0xFFCC33

[com_134]
layer=com_131
type=rect
x=38
y=118
width=5
height=56
fill=yes
colour=0xFFCC33

[com_135]
layer=com_131
type=rect
x=92
y=118
width=5
height=56
fill=yes
colour=0xFFCC33

[com_136]
layer=com_131
type=rect
x=101
y=118
width=59
height=5
fill=yes
colour=0xFFCC33

[com_137]
layer=com_131
type=rect
x=101
y=169
width=59
height=5
fill=yes
colour=0xFFCC33

[com_138]
layer=com_131
type=rect
x=101
y=118
width=5
height=56
fill=yes
colour=0xFFCC33

[com_139]
layer=com_131
type=rect
x=155
y=118
width=5
height=56
fill=yes
colour=0xFFCC33

[com_140]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_141]
layer=com_140
type=rect
x=26
y=76
width=148
height=5
fill=yes
colour=0xFFCC33

[com_142]
layer=com_140
type=rect
x=26
y=189
width=148
height=5
fill=yes
colour=0xFFCC33

[com_143]
layer=com_140
type=rect
x=26
y=76
width=5
height=115
fill=yes
colour=0xFFCC33

[com_144]
layer=com_140
type=rect
x=169
y=76
width=5
height=115
fill=yes
colour=0xFFCC33

[com_145]
buttontype=normal
option=Continue
type=text
x=303
y=279
width=106
height=16
font=p12
text=Click to continue
colour=0x0000FF
activecolour=0xFFFFFF
