[com_0]
type=rect
x=80
y=70
width=366
height=215
trans=200
fill=yes
colour=0x000000

[com_1]
type=graphic
x=76
y=56
width=362
height=220
graphic=r481_ge_sprite_219001,0

[com_2]
type=graphic
x=74
y=86
width=7
height=161
graphic=r481_ge_sprite_219002,0

[com_3]
type=graphic
x=74
y=54
width=32
height=32
graphic=r481_ge_sprite_958,0

[com_4]
type=graphic
x=408
y=86
width=32
height=161
graphic=r481_ge_sprite_219004,0

[com_5]
type=graphic
x=106
y=54
width=302
height=7
graphic=r481_ge_sprite_219005,0

[com_6]
type=graphic
x=106
y=247
width=302
height=32
graphic=r481_ge_sprite_219006,0

[com_7]
type=graphic
x=74
y=247
width=32
height=32
graphic=r481_ge_sprite_960,0

[com_8]
type=graphic
x=408
y=54
width=32
height=32
graphic=r481_ge_sprite_959,0

[com_9]
type=graphic
x=408
y=247
width=32
height=32
graphic=r481_ge_sprite_961,0

[com_10]
type=graphic
x=85
y=82
width=344
height=6
graphic=r481_ge_sprite_219010,0

[com_11]
type=graphic
x=74
y=70
width=32
height=32
graphic=r481_ge_sprite_200011,0

[com_12]
type=graphic
x=408
y=70
width=32
height=32
graphic=r481_ge_sprite_200012,0

[com_13]
buttontype=close
type=graphic
x=415
y=63
width=16
height=16
graphic=r481_ge_sprite_831,0
activegraphic=r481_ge_sprite_831,0

[com_14]
type=graphic
x=85
y=59
width=25
height=25
graphic=r481_ge_sprite_211164,0

[com_15]
type=text
x=81
y=63
width=352
height=16
center=yes
font=b12
shadowed=yes
text=Grand Exchange - Collection Box
colour=0xFF981F

[com_16]
type=rect
x=93
y=100
width=106
height=80
trans=200
fill=yes
colour=0x000000

[com_17]
type=layer
x=88
y=95
width=106
height=80
scroll=80

[com_18]
type=layer
x=88
y=95
width=106
height=80
scroll=80

[com_19]
type=layer
x=88
y=95
width=106
height=80
scroll=80

[com_20]
layer=com_19
type=layer
x=24
y=24
width=10
height=10
scroll=10

[com_21]
type=rect
x=209
y=100
width=106
height=80
trans=200
fill=yes
colour=0x000000

[com_22]
type=layer
x=204
y=95
width=106
height=80
scroll=80

[com_23]
type=layer
x=204
y=95
width=106
height=80
scroll=80

[com_24]
type=layer
x=204
y=95
width=106
height=80
scroll=80

[com_25]
layer=com_24
type=layer
x=24
y=24
width=10
height=10
scroll=10

[com_26]
type=rect
x=325
y=100
width=106
height=80
trans=200
fill=yes
colour=0x000000

[com_27]
type=layer
x=320
y=95
width=106
height=80
scroll=80

[com_28]
type=layer
x=320
y=95
width=106
height=80
scroll=80

[com_29]
type=layer
x=320
y=95
width=106
height=80
scroll=80

[com_30]
layer=com_29
type=layer
x=24
y=24
width=10
height=10
scroll=10

[com_31]
type=layer
x=320
y=95
width=106
height=80
scroll=80

[com_32]
layer=com_31
type=rect
x=0
y=0
width=120
height=80
trans=160
fill=yes
colour=0x808080

[com_33]
layer=com_31
type=graphic
x=0
y=0
width=120
height=80
graphic=r481_ge_sprite_219033,0

[com_34]
type=rect
x=93
y=190
width=106
height=80
trans=200
fill=yes
colour=0x000000

[com_35]
type=layer
x=88
y=185
width=106
height=80
scroll=80

[com_36]
type=layer
x=88
y=185
width=106
height=80
scroll=80

[com_37]
type=layer
x=88
y=185
width=106
height=80
scroll=80

[com_38]
layer=com_37
type=layer
x=24
y=24
width=10
height=10
scroll=10

[com_39]
type=layer
x=88
y=185
width=106
height=80
scroll=80

[com_40]
layer=com_39
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_41]
layer=com_39
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_42]
type=rect
x=209
y=190
width=106
height=80
trans=200
fill=yes
colour=0x000000

[com_43]
type=layer
x=204
y=185
width=106
height=80
scroll=80

[com_44]
type=layer
x=204
y=185
width=106
height=80
scroll=80

[com_45]
type=layer
x=204
y=185
width=106
height=80
scroll=80

[com_46]
layer=com_45
type=layer
x=24
y=24
width=10
height=10
scroll=10

[com_47]
type=layer
x=204
y=185
width=106
height=80
scroll=80

[com_48]
layer=com_47
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_49]
layer=com_47
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_50]
type=rect
x=325
y=190
width=106
height=80
trans=200
fill=yes
colour=0x000000

[com_51]
type=layer
x=320
y=185
width=106
height=80
scroll=80

[com_52]
type=layer
x=320
y=185
width=106
height=80
scroll=80

[com_53]
type=layer
x=320
y=185
width=106
height=80
scroll=80

[com_54]
layer=com_53
type=layer
x=24
y=24
width=10
height=10
scroll=10

[com_55]
type=layer
x=320
y=185
width=106
height=80
scroll=80

[com_56]
layer=com_55
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_57]
layer=com_55
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_211167,0

[com_58]
layer=com_17
type=text
x=0
y=1
width=106
height=12
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xFF981F

[com_59]
layer=com_17
type=inv
x=16
y=15
width=2
height=1
margin=10,0
option1=Collect

[com_60]
layer=com_17
type=text
x=0
y=47
width=106
height=12
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFFFF

[com_61]
layer=com_17
buttontype=normal
type=text
x=17
y=61
width=72
height=15
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFF00
activecolour=0xFFFFFF
option=Collect

[com_62]
layer=com_22
type=text
x=0
y=1
width=106
height=12
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xFF981F

[com_63]
layer=com_22
type=inv
x=16
y=15
width=2
height=1
margin=10,0
option1=Collect

[com_64]
layer=com_22
type=text
x=0
y=47
width=106
height=12
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFFFF

[com_65]
layer=com_22
buttontype=normal
type=text
x=17
y=61
width=72
height=15
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFF00
activecolour=0xFFFFFF
option=Collect

[com_66]
layer=com_27
type=text
x=0
y=1
width=106
height=12
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xFF981F

[com_67]
layer=com_27
type=inv
x=16
y=15
width=2
height=1
margin=10,0
option1=Collect

[com_68]
layer=com_27
type=text
x=0
y=47
width=106
height=12
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFFFF

[com_69]
layer=com_27
buttontype=normal
type=text
x=17
y=61
width=72
height=15
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFF00
activecolour=0xFFFFFF
option=Collect

[com_70]
layer=com_35
type=text
x=0
y=1
width=106
height=12
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xFF981F

[com_71]
layer=com_35
type=inv
x=16
y=15
width=2
height=1
margin=10,0
option1=Collect

[com_72]
layer=com_35
type=text
x=0
y=47
width=106
height=12
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFFFF

[com_73]
layer=com_35
buttontype=normal
type=text
x=17
y=61
width=72
height=15
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFF00
activecolour=0xFFFFFF
option=Collect

[com_74]
layer=com_43
type=text
x=0
y=1
width=106
height=12
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xFF981F

[com_75]
layer=com_43
type=inv
x=16
y=15
width=2
height=1
margin=10,0
option1=Collect

[com_76]
layer=com_43
type=text
x=0
y=47
width=106
height=12
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFFFF

[com_77]
layer=com_43
buttontype=normal
type=text
x=17
y=61
width=72
height=15
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFF00
activecolour=0xFFFFFF
option=Collect

[com_78]
layer=com_51
type=text
x=0
y=1
width=106
height=12
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xFF981F

[com_79]
layer=com_51
type=inv
x=16
y=15
width=2
height=1
margin=10,0
option1=Collect

[com_80]
layer=com_51
type=text
x=0
y=47
width=106
height=12
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFFFF

[com_81]
layer=com_51
buttontype=normal
type=text
x=17
y=61
width=72
height=15
center=yes
font=p11
shadowed=yes
text=
colour=0xFFFF00
activecolour=0xFFFFFF
option=Collect
