[com_0]
type=rect
x=17
y=25
width=488
height=305
trans=230
fill=yes
colour=0x2E2B23

[com_1]
type=graphic
x=14
y=25
width=485
height=300
graphic=r481_ge_component_1,0

[com_2]
type=graphic
x=13
y=53
width=7
height=241
graphic=r481_ge_component_2,0

[com_3]
type=graphic
x=13
y=20
width=32
height=32
graphic=r481_ge_sprite_958,0

[com_4]
type=graphic
x=468
y=51
width=32
height=243
graphic=r481_ge_component_4,0

[com_5]
type=graphic
x=44
y=20
width=424
height=7
graphic=r481_ge_component_5,0

[com_6]
type=graphic
x=45
y=294
width=423
height=32
graphic=r481_ge_component_6,0

[com_7]
type=graphic
x=13
y=294
width=32
height=32
graphic=r481_ge_sprite_960,0

[com_8]
type=graphic
x=468
y=20
width=32
height=32
graphic=r481_ge_sprite_959,0

[com_9]
type=graphic
x=468
y=294
width=32
height=32
graphic=r481_ge_sprite_961,0

[com_10]
type=graphic
x=24
y=49
width=465
height=6
graphic=r481_ge_component_10,0

[com_11]
type=graphic
x=13
y=37
width=32
height=32
graphic=r481_ge_sprite_200011,0

[com_12]
type=graphic
x=468
y=37
width=32
height=32
graphic=r481_ge_sprite_200012,0

[com_13]
type=graphic
x=473
y=30
width=16
height=16
graphic=r481_ge_sprite_831,0
buttontype=close
activegraphic=r481_ge_sprite_831,0

[com_14]
type=text
x=21
y=30
width=471
height=16
center=yes
font=b12
shadowed=yes
text=Grand Exchange
colour=0xCC9800

[com_15]
type=graphic
x=25
y=26
width=25
height=25
graphic=r481_ge_sprite_1164,0

[com_16]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_17]
layer=com_16
type=text
x=21
y=60
width=471
height=14
center=yes
font=p11
shadowed=yes
text=Shown below is a summary of all your current offers.
colour=0xCC9900

[com_18]
layer=com_16
type=layer
x=30
y=80
width=140
height=110
scroll=110

[com_19]
layer=com_16
type=layer
x=30
y=80
width=140
height=110
scroll=110

[com_20]
layer=com_19
type=rect
x=12
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_21]
layer=com_19
type=rect
x=12
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_22]
layer=com_19
type=rect
x=12
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_23]
layer=com_19
type=rect
x=62
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_24]
layer=com_19
type=rect
x=75
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_25]
layer=com_19
type=rect
x=75
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_26]
layer=com_19
type=rect
x=75
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_27]
layer=com_19
type=rect
x=125
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_28]
layer=com_19
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_1168,0

[com_29]
layer=com_19
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_1170,0

[com_30]
layer=com_19
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_31]
layer=com_19
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_32]
layer=com_16
type=layer
x=30
y=80
width=140
height=110
scroll=110

[com_33]
layer=com_32
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_34]
layer=com_16
type=layer
x=186
y=80
width=140
height=110
scroll=110

[com_35]
layer=com_16
type=layer
x=186
y=80
width=140
height=110
scroll=110

[com_36]
layer=com_35
type=rect
x=12
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_37]
layer=com_35
type=rect
x=12
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_38]
layer=com_35
type=rect
x=12
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_39]
layer=com_35
type=rect
x=62
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_40]
layer=com_35
type=rect
x=75
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_41]
layer=com_35
type=rect
x=75
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_42]
layer=com_35
type=rect
x=75
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_43]
layer=com_35
type=rect
x=125
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_44]
layer=com_35
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_1168,0

[com_45]
layer=com_35
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_1170,0

[com_46]
layer=com_35
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_47]
layer=com_35
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_48]
layer=com_16
type=layer
x=186
y=80
width=140
height=110
scroll=110

[com_49]
layer=com_48
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_50]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_51]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_52]
layer=com_51
type=rect
x=12
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_53]
layer=com_51
type=rect
x=12
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_54]
layer=com_51
type=rect
x=12
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_55]
layer=com_51
type=rect
x=62
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_56]
layer=com_51
type=rect
x=75
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_57]
layer=com_51
type=rect
x=75
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_58]
layer=com_51
type=rect
x=75
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_59]
layer=com_51
type=rect
x=125
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_60]
layer=com_51
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_1168,0

[com_61]
layer=com_51
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_1170,0

[com_62]
layer=com_51
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_63]
layer=com_51
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_64]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_65]
layer=com_64
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_66]
layer=com_16
type=layer
x=342
y=80
width=140
height=110
scroll=110

[com_67]
layer=com_66
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_68]
layer=com_66
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_200068,0

[com_69]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_70]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_71]
layer=com_70
type=rect
x=12
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_72]
layer=com_70
type=rect
x=12
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_73]
layer=com_70
type=rect
x=12
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_74]
layer=com_70
type=rect
x=62
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_75]
layer=com_70
type=rect
x=75
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_76]
layer=com_70
type=rect
x=75
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_77]
layer=com_70
type=rect
x=75
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_78]
layer=com_70
type=rect
x=125
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_79]
layer=com_70
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_1168,0

[com_80]
layer=com_70
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_1170,0

[com_81]
layer=com_70
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_82]
layer=com_70
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_83]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_84]
layer=com_83
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_85]
layer=com_16
type=layer
x=30
y=200
width=140
height=110
scroll=110

[com_86]
layer=com_85
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_87]
layer=com_85
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_200068,0

[com_88]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_89]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_90]
layer=com_89
type=rect
x=12
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_91]
layer=com_89
type=rect
x=12
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_92]
layer=com_89
type=rect
x=12
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_93]
layer=com_89
type=rect
x=62
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_94]
layer=com_89
type=rect
x=75
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_95]
layer=com_89
type=rect
x=75
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_96]
layer=com_89
type=rect
x=75
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_97]
layer=com_89
type=rect
x=125
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_98]
layer=com_89
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_1168,0

[com_99]
layer=com_89
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_1170,0

[com_100]
layer=com_89
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_101]
layer=com_89
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_102]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_103]
layer=com_102
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_104]
layer=com_16
type=layer
x=186
y=200
width=140
height=110
scroll=110

[com_105]
layer=com_104
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_106]
layer=com_104
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_200068,0

[com_107]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_108]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_109]
layer=com_108
type=rect
x=12
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_110]
layer=com_108
type=rect
x=12
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_111]
layer=com_108
type=rect
x=12
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_112]
layer=com_108
type=rect
x=62
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_113]
layer=com_108
type=rect
x=75
y=43
width=51
height=1
fill=yes
colour=0x5A5245

[com_114]
layer=com_108
type=rect
x=75
y=88
width=51
height=1
fill=yes
colour=0x5A5245

[com_115]
layer=com_108
type=rect
x=75
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_116]
layer=com_108
type=rect
x=125
y=43
width=1
height=46
fill=yes
colour=0x5A5245

[com_117]
layer=com_108
type=graphic
x=83
y=48
width=35
height=35
graphic=r481_ge_sprite_1168,0

[com_118]
layer=com_108
type=graphic
x=20
y=48
width=35
height=35
graphic=r481_ge_sprite_1170,0

[com_119]
layer=com_108
type=layer
x=12
y=43
width=51
height=46
scroll=46

[com_120]
layer=com_108
type=layer
x=75
y=43
width=51
height=46
scroll=46

[com_121]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_122]
layer=com_121
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_123]
layer=com_16
type=layer
x=342
y=200
width=140
height=110
scroll=110

[com_124]
layer=com_123
type=rect
x=0
y=0
width=140
height=110
trans=160
fill=yes
colour=0x808080

[com_125]
layer=com_123
type=graphic
x=0
y=0
width=140
height=110
graphic=r481_ge_sprite_200068,0

[com_126]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_127]
layer=com_126
buttontype=normal
option=Back
type=graphic
x=25
y=276
width=35
height=35
graphic=r481_ge_sprite_200127,0

[com_128]
layer=com_126
type=graphic
x=19
y=249
width=474
height=32
graphic=r481_ge_sprite_200128,0

[com_129]
layer=com_126
type=layer
x=43
y=60
width=426
height=90
scroll=90

[com_130]
layer=com_126
type=graphic
x=187
y=61
width=32
height=87
graphic=r481_ge_sprite_200130,0

[com_131]
layer=com_126
type=layer
x=43
y=152
width=426
height=84
scroll=84

[com_132]
layer=com_126
type=graphic
x=244
y=153
width=32
height=81
graphic=r481_ge_sprite_200132,0

[com_133]
layer=com_126
type=text
x=43
y=66
width=159
height=16
center=yes
font=b12
shadowed=yes
text=Buy Offer
colour=0xCC9800

[com_134]
layer=com_126
type=graphic
x=175
y=67
width=16
height=14
graphic=r481_ge_sprite_200134,0

[com_135]
layer=com_126
type=graphic
x=44
y=68
width=157
height=32
graphic=r481_ge_sprite_200135,0

[com_136]
layer=com_126
type=graphic
x=102
y=92
width=40
height=36
graphic=r481_ge_sprite_200136,0

[com_137]
layer=com_126
type=graphic
x=102
y=92
width=40
height=36
graphic=r481_ge_sprite_1140,0

[com_138]
layer=com_126
type=model
x=104
y=94
width=36
height=32
zoom=600

[com_139]
layer=com_126
type=graphic
x=53
y=132
width=16
height=14
graphic=r481_ge_sprite_200139,0

[com_140]
layer=com_126
type=text
x=59
y=131
width=140
height=16
center=yes
font=p11
shadowed=yes
text=
colour=0x999900

[com_141]
layer=com_126
type=text
x=210
y=66
width=250
height=16
font=b12
shadowed=yes
text=Choose an item to exchange
colour=0xCC9900

[com_142]
layer=com_126
type=text
x=210
y=94
width=250
height=33
font=p11
shadowed=yes
text=
colour=0xC1A875

[com_143]
layer=com_126
type=graphic
x=211
y=132
width=16
height=14
graphic=r481_ge_sprite_200143,0

[com_144]
layer=com_126
type=graphic
x=443
y=132
width=16
height=14
graphic=r481_ge_sprite_200144,0

[com_145]
layer=com_126
type=text
x=210
y=131
width=250
height=16
center=yes
font=p11
shadowed=yes
text=
colour=0xFFA861

[com_146]
layer=com_126
type=text
x=47
y=157
width=208
height=16
center=yes
font=b12
shadowed=yes
text=Quantity:
colour=0xCC9800

[com_147]
layer=com_126
type=graphic
x=75
y=178
width=20
height=20
graphic=r481_ge_sprite_200147,0

[com_148]
layer=com_126
type=graphic
x=95
y=178
width=113
height=20
graphic=r481_ge_sprite_200148,0

[com_149]
layer=com_126
type=graphic
x=208
y=178
width=20
height=20
graphic=r481_ge_sprite_200149,0

[com_150]
layer=com_126
type=text
x=83
y=180
width=136
height=16
center=yes
font=b12
shadowed=yes
text=1
colour=0xFFA861

[com_151]
layer=com_126
type=text
x=262
y=157
width=202
height=16
center=yes
font=b12
shadowed=yes
text=Price per item:
colour=0xCC9800

[com_152]
layer=com_126
type=graphic
x=289
y=178
width=20
height=20
graphic=r481_ge_sprite_200147,0

[com_153]
layer=com_126
type=graphic
x=309
y=178
width=108
height=20
graphic=r481_ge_sprite_200153,0

[com_154]
layer=com_126
type=graphic
x=417
y=178
width=20
height=20
graphic=r481_ge_sprite_200149,0

[com_155]
layer=com_126
type=text
x=295
y=180
width=136
height=16
center=yes
font=b12
shadowed=yes
text=1 gp
colour=0xFFA861

[com_156]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_157]
layer=com_156
type=layer
x=55
y=181
width=13
height=13
scroll=13

[com_158]
layer=com_156
type=graphic
x=55
y=181
width=16
height=14
graphic=r481_ge_sprite_200158,0

[com_159]
layer=com_156
type=layer
x=235
y=181
width=13
height=13
scroll=13

[com_160]
layer=com_156
type=graphic
x=235
y=181
width=16
height=14
graphic=r481_ge_sprite_200160,0

[com_161]
layer=com_156
type=graphic
x=52
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_162]
layer=com_156
buttontype=normal
option=Offer 1
type=text
x=52
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=1
colour=0xCC9800

[com_163]
layer=com_156
type=graphic
x=93
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_164]
layer=com_156
buttontype=normal
option=Offer 10
type=text
x=93
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=10
colour=0xFF9800

[com_165]
layer=com_156
type=graphic
x=134
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_166]
layer=com_156
buttontype=normal
option=Offer 100
type=text
x=134
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=100
colour=0xFF9800

[com_167]
layer=com_156
type=graphic
x=175
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_168]
layer=com_156
buttontype=normal
option=Offer 500
type=text
x=175
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=500
colour=0xFF9800

[com_169]
layer=com_156
type=graphic
x=216
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_170]
layer=com_156
buttontype=normal
option=Edit Quantity
type=text
x=216
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=...
colour=0xFF9800

[com_171]
layer=com_156
type=layer
x=269
y=181
width=13
height=13
scroll=13

[com_172]
layer=com_156
type=graphic
x=269
y=181
width=16
height=14
graphic=r481_ge_sprite_200158,0

[com_173]
layer=com_156
type=layer
x=444
y=181
width=13
height=13
scroll=13

[com_174]
layer=com_156
type=graphic
x=444
y=181
width=16
height=14
graphic=r481_ge_sprite_200160,0

[com_175]
layer=com_156
type=graphic
x=266
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_176]
layer=com_156
type=graphic
x=276
y=211
width=16
height=14
graphic=r481_ge_sprite_200143,0

[com_177]
layer=com_156
buttontype=normal
option=Offer Minimum Price
type=text
x=266
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=
colour=0xFF9800

[com_178]
layer=com_156
type=graphic
x=319
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_179]
layer=com_156
type=graphic
x=328
y=211
width=16
height=14
graphic=r481_ge_sprite_200139,0

[com_180]
layer=com_156
buttontype=normal
option=Offer Market Price
type=text
x=319
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=
colour=0xFF9800

[com_181]
layer=com_156
type=graphic
x=372
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_182]
layer=com_156
type=graphic
x=382
y=211
width=16
height=14
graphic=r481_ge_sprite_200144,0

[com_183]
layer=com_156
buttontype=normal
option=Offer Maximum Price
type=text
x=372
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=
colour=0xFF9800

[com_184]
layer=com_156
type=graphic
x=425
y=200
width=35
height=35
graphic=r481_ge_sprite_200161,0

[com_185]
layer=com_156
buttontype=normal
option=Edit Price
type=text
x=425
y=205
width=35
height=25
center=yes
font=p11
shadowed=yes
text=...
colour=0xFF9800

[com_186]
layer=com_126
type=graphic
x=186
y=239
width=20
height=20
graphic=r481_ge_sprite_200147,0

[com_187]
layer=com_126
type=graphic
x=206
y=239
width=108
height=20
graphic=r481_ge_sprite_200153,0

[com_188]
layer=com_126
type=graphic
x=314
y=239
width=20
height=20
graphic=r481_ge_sprite_200149,0

[com_189]
layer=com_126
type=text
x=186
y=239
width=148
height=20
center=yes
font=b12
shadowed=yes
text=
colour=0xEBE573

[com_190]
layer=com_156
type=layer
x=200
y=270
width=120
height=43
scroll=43

[com_191]
layer=com_156
type=text
x=200
y=270
width=120
height=43
center=yes
font=b12
shadowed=yes
text=Confirm Offer
colour=0xCC9800

[com_192]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_193]
layer=com_192
type=layer
x=102
y=94
width=40
height=36
scroll=36

[com_194]
layer=com_192
type=layer
x=102
y=94
width=40
height=36
scroll=36

[com_195]
layer=com_192
type=graphic
x=105
y=97
width=16
height=14
graphic=r481_ge_sprite_200195,0

[com_196]
layer=com_192
type=text
x=210
y=94
width=250
height=33
font=p11
shadowed=yes
text=Click the icon to the left to search for items.
colour=0xC1A875

[com_197]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_198]
layer=com_197
type=layer
x=102
y=94
width=40
height=36
scroll=36

[com_199]
layer=com_197
type=text
x=210
y=94
width=250
height=33
font=p11
shadowed=yes
text=Select an item in your inventory to sell.
colour=0xC1A875

[com_200]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_201]
layer=com_200
type=text
x=90
y=267
width=260
height=30
center=yes
font=p11
shadowed=yes
text=
colour=0xC1A875

[com_202]
layer=com_200
type=layer
x=70
y=299
width=300
height=15
scroll=15

[com_203]
layer=com_200
buttontype=normal
option=Abort Offer
type=graphic
x=350
y=272
width=20
height=20
graphic=r481_ge_sprite_200203,0

[com_204]
layer=com_200
type=graphic
x=380
y=262
width=32
height=32
graphic=r481_ge_sprite_200204,0

[com_205]
layer=com_200
type=graphic
x=412
y=248
width=82
height=32
graphic=r481_ge_sprite_200205,0

[com_206]
layer=com_200
type=graphic
x=366
y=287
width=32
height=32
graphic=r481_ge_sprite_200206,0

[com_207]
layer=com_200
type=graphic
x=386
y=268
width=107
height=51
graphic=r481_ge_sprite_200207,0

[com_208]
layer=com_200
type=graphic
x=395
y=276
width=40
height=36
graphic=r481_ge_sprite_200208,0

[com_209]
layer=com_200
buttontype=normal
option=Collect
type=model
x=397
y=278
width=36
height=32
zoom=600

[com_210]
layer=com_200
type=graphic
x=444
y=276
width=40
height=36
graphic=r481_ge_sprite_200208,0

[com_211]
layer=com_200
buttontype=normal
option=Collect
type=model
x=446
y=278
width=36
height=32
zoom=600

[com_212]
type=layer
x=0
y=0
width=512
height=334
scroll=334

[com_213]
layer=com_212
type=layer
x=0
y=0
width=10
height=10
scroll=10

[com_214]
layer=com_19
type=rect
x=0
y=0
width=140
height=110
colour=0x5A5245

[com_215]
layer=com_19
type=rect
x=0
y=24
width=140
height=1
fill=yes
colour=0x5A5245

[com_216]
layer=com_19
type=text
x=0
y=5
width=140
height=14
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xCC9800

[com_219]
layer=com_35
type=rect
x=0
y=0
width=140
height=110
colour=0x5A5245

[com_220]
layer=com_35
type=rect
x=0
y=24
width=140
height=1
fill=yes
colour=0x5A5245

[com_221]
layer=com_35
type=text
x=0
y=5
width=140
height=14
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xCC9800

[com_224]
layer=com_51
type=rect
x=0
y=0
width=140
height=110
colour=0x5A5245

[com_225]
layer=com_51
type=rect
x=0
y=24
width=140
height=1
fill=yes
colour=0x5A5245

[com_226]
layer=com_51
type=text
x=0
y=5
width=140
height=14
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xCC9800

[com_229]
layer=com_70
type=rect
x=0
y=0
width=140
height=110
colour=0x5A5245

[com_230]
layer=com_70
type=rect
x=0
y=24
width=140
height=1
fill=yes
colour=0x5A5245

[com_231]
layer=com_70
type=text
x=0
y=5
width=140
height=14
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xCC9800

[com_234]
layer=com_89
type=rect
x=0
y=0
width=140
height=110
colour=0x5A5245

[com_235]
layer=com_89
type=rect
x=0
y=24
width=140
height=1
fill=yes
colour=0x5A5245

[com_236]
layer=com_89
type=text
x=0
y=5
width=140
height=14
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xCC9800

[com_239]
layer=com_108
type=rect
x=0
y=0
width=140
height=110
colour=0x5A5245

[com_240]
layer=com_108
type=rect
x=0
y=24
width=140
height=1
fill=yes
colour=0x5A5245

[com_241]
layer=com_108
type=text
x=0
y=5
width=140
height=14
center=yes
font=p11
shadowed=yes
text=Empty
colour=0xCC9800

[com_217]
layer=com_126
type=rect
x=43
y=60
width=425
height=89
colour=0x383023

[com_218]
layer=com_126
type=rect
x=44
y=61
width=425
height=89
colour=0x5A5245

[com_222]
layer=com_126
type=rect
x=200
y=60
width=1
height=89
fill=yes
colour=0x383023

[com_223]
layer=com_126
type=rect
x=201
y=61
width=1
height=87
fill=yes
colour=0x5A5245

[com_227]
layer=com_126
type=rect
x=43
y=152
width=425
height=83
colour=0x383023

[com_228]
layer=com_126
type=rect
x=44
y=153
width=425
height=83
colour=0x5A5245

[com_232]
layer=com_126
type=rect
x=257
y=152
width=1
height=83
fill=yes
colour=0x383023

[com_233]
layer=com_126
type=rect
x=258
y=153
width=1
height=83
fill=yes
colour=0x5A5245
